html(lang="fr")
    head
    title="authentification"
    body 
        
        if (failed)
            p="Une erreur a été rencontrée. Veuillez vérifier votre mail et mot de passe."
        else
            p="Bonjour."


        form(action="/signin" method="POST")
            input(type="text" name="address" placeholder="Adresse mail")
            input(type="password" name="secretcode" placeholder="Mot de passe") 
            input(type="submit" value="Connexion")
