doctype html
html
  head
    meta(charset='utf-8')
    title Monsite
    style.
      #container{
      background:rgba(255,255,255,0.5);
      color:#0C3BFF;
      padding:25px;
      margin:100px auto 0px;
      width:700px;
      text-align:center;
      font-family:"Arial";
      box-shadow:10px 10px 15px  black  ;
      }
      hr{width:70%;
      border:#0C3BFF 1px  solid  ;
      margin-bottom:15px;
      }
      body{background:#cccccc;
      background-image:url(images/laopo.jpg);
      }
      input{width:180px;
      height:20px;
      margin:5px;
      font-size:16px;
      font-family:"Arial";}
      button{width:120px;
      height:40px;
      background:#2289F0;
      border:0px;
      color:white;
      margin:10px;
      font-size:18px;
      font-family:"Arial";
      font-weight:bold;}
      button:hover{background:#00c8D0;}
  body
    #container
      h1 INSCRIPTION
      hr

      form(action="/inscriptionadd" method="POST")
        label
          | Username:
          input(type="text" name="username" placeholder="username" required='')
        br
        label
          | E-mail  ：
          input(type="text" name="address" placeholder="mail address" required='') 
        br
        label
          | Secret Code：
          input(type="password" name="secretcode" placeholder="secret code" required='') 
        br
        input(type="submit" value="Sign up!") 
        
      hr
      a.nav-link.active(href="http://localhost:3000/authen")="have compte? log in here"
        if (nopasswd)
            p="Veuillez renseigner un mot de passe"
        if (shortUsername)
            p="Veuillez entrer un pseudonyme de plus de 4 caractères"
        if (nomail)
            p="Mail invalid"
