extends layout
block body
    p="Désolé, on voulait t'afficher une super page, mais elle n'est pas encore développée."
    a.nav-link.active(href="http://localhost:3000/")="Revenir à la page principale"